* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    font-family: Helvetica, 'Myriad Pro', Arial, sans-serif;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x:hidden; 
    background: #2980B9;
}

@-moz-document url-prefix() {
    html,body {
        font-size: 0.88em;
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#header > div, #form-cont, #description {
    opacity: 0;
    animation: fadeInUp 800ms;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
}

#reLocation {
    animation: load 1s linear infinite;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#header {
    height: 130px;
    width: 100%;
    background-color: #fff;
    font-size: 2.2em;
    color:#27ae60;
    padding: 10px;
}

#header>img {
    height: 80px;
    vertical-align: middle;
}

#header>div {
    display: inline;
}

#description {
    padding: 40px 40px 80px 40px;
    color:#f0f0f0;
    font-size: 1.4em;
    display: inline-block;
    width: 46%;
    min-width: 320px;
    text-align: justify;
}

#form-cont {
    display: inline-block;
    width: 49%;
    margin: 0  2%;
    min-width: 320px;


    vertical-align: top;
    margin-top: -50px; 
}

#form {
    border-radius: 4px;
    background: #f0f0f0;
    padding: 15px;
    width: 100%;
    max-width: 500px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 1em;
    box-shadow: 0px 0px 5px 2px #333;
}

/*Styling for tabs of Emission, fuel intake , fuel efficiency*/
input[type="text"],input[type="number"],select,button {
    display: block;
    margin-bottom: 0.4em;
}

input[type="checkbox"] {
    margin-bottom: 0.4em;    
}

label {
    display: inline-block;
    margin-bottom: 0.4em;
    font-size: 1.05em;
}

input[type="text"],input[type="number"],select {
    width: 100%;
    padding: 0.3em;
    font-size: 1.05em;
    background: #fff;
}

#usage-message {
    font-style:italics;
    font-size:0.9em;
}

button {
    width: 120px;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-size: 1.05em;
    font-weight: bold;
    margin-top: 1em;
    color: #f0f0f0;
    background: #27ae60;
    border:none;
    border-radius: 2px;
    transition: background 0.2s ease-in; 
    -webkit-transition: background 0.2s ease-in; 
    -moz-transition: background 0.2s ease-in; 
    cursor: pointer;
}

#load-prices-button {
    margin-top: 0;
    width: 80px;
    margin-left: 1em;
    font-size: 0.95em;
    height: 2em;
    font-weight: normal;
    white-space: nowrap;
}

button:hover {
    background: #0ABE32;
}

div#emission-type-cont {
    width: 100%;
    text-align: center;
}

div#emission-type-cont > div.tab-button {
    display: inline-block;
    cursor: pointer;
    width: 32%;
    background: #eee;
    padding: 8px 0;
    color:#222;
    opacity: 0.9;
    position: relative;
    font-weight: bold;
}

div#emission-type-cont > div.tab-button.selected {
    background: #f0f0f0;
    opacity: 1;
    border-bottom: 4px solid #2980B9;
}

div#form-fields {
    padding: 20px;
    padding-bottom: 0px;
}

div.emission-input-cont > div.emission-input {
    display: none;
}

div.emission-input-cont > div.emission-input.open {
    display: block;
}

#form .tab {
    display: none;
}

#form .open {
    display: block;
}

.form-group {
    padding: 0.7em 0;
    padding-right:0;
}
.form-head {
    font-size: 1.05em;
    margin-bottom: 0.2em;
}
.form-group > div.unit {
    display: inline-block;
    width: 45%;
}
.unitper {
    padding-left:0.3em;
    padding-right:0.5em;
    width: 1em;
    font-size:2em;
    text-align: center;
}

.emission-input-cont input,select {
    text-align:center;
    height:2em;
    border-radius:4px;
    border:none;
    text-align:center;
}

.emission-input-cont input {
    margin-left:1em;
    width:10em;
}

.emission-input-cont input[type='checkbox'] {
    width:auto;
}

.emission-input-cont select {
    width:3em;
    margin-left:1em;
    -webkit-appearance: none;
}

.form-group > div.unit2 {
    float:right;
    font-size: 0.8em;
}
.form-group > span.note {
    float:right;
    font-size: 0.8em;
}
.form-data {
    display: inline-flex;
    align-items:center;
}

.major input {
    margin-left:0;
}

.footprints .emission-input-cont {
    padding-left:4em;
    margin-top:-1.85em;
}

.emission-input-cont {
    padding-left:2em;
}

.emission-input-cont .checkup-number {
    width: 4em;
    display: inline-block;
}

#offset {
    text-align: center;
    font-size: 1.1em;
}

.footprints .form-group > input {
    margin-left:2em;
}

a:link,a:visited,a:hover,a:active {
    color:#f39c12;
    text-decoration:underline;
}

@media screen and (max-width: 875px) {
    #header {
        height: 100px;
        font-size: 1.5em;
    }
    #header>img {
        height: 80px;
    }
    #description {
        font-size: 1.3em;
        width: 100%;
        padding: 10px 20px;
    }
    #form-cont {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    #header>img {
        float: left;
    }
    #description {
        font-size: 1.1em;
    }
}

#message {
    padding:0.4em;
    text-align:center;
    border-radius:3px;
    margin-top:2em;
    display:none;
}

input:disabled {
    background: #dddddd;
}

select:disabled {
    background: #dddddd;
}

#car-checkup-info {
    font-size: 0.9em;
    text-align: center;
    color: grey;
}

#next-checkup-month {
    margin-left: 0;
}